@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Main page";
}

<partial name="Partial/_Slider"/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBarPartial" />
            </div>

            <div class="col-sm-9 padding-right">

                @await Component.InvokeAsync("FeaturesItems")

                <partial name="Partial/_CategoryTab" />

                <partial name="Partial/_RecommendedItems" />

            </div>
        </div>
    </div>
</section>