<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-user"></i> @User.Identity.Name</a></li>
        @if (User.IsInRole("Admin"))
        {
            <li><a href="#"><i class="fa fa-key"></i> Admin Tools</a></li>
        }

        <li><a href="#"><i class="fa fa-star"></i> Wish list</a></li>
        <li><a asp-controller="Home" asp-action="Checkout"><i class="fa fa-crosshairs"></i> Orders</a></li>
        <li><a asp-controller="Home" asp-action="Cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        <li>
            <a href="#" onclick="document.getElementById('logoutForm').submit();return false;">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </li>
    </ul>
    <form  id="logoutForm" asp-controller="Account" asp-action="Logout" asp-antiforgery="true" method="post">
    </form>
</div>